/* body{
  background-color: #c2c8c8;
} */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 86%;
}
h1,h2{
  margin-left: 15%;
}
h2{
  cursor: pointer;
}
.events{
 display: flex;
 flex-direction: column;
 height: 40vh;
 width: 100%;

 justify-content: center;
 overflow-y: scroll;
 padding: 5%;
 margin: 2%;
 margin-left: -4%;
 margin-top: 5%;
 flex-wrap: wrap;
}
.events2{
  margin: 1%;
  padding: 1%;
}

/* ::-webkit-scrollbar{
  display:none;
} */

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  overflow:visible;
  padding: 0;
  margin: 0;
  /* margin-top: 5%; */
}
.container input,.container button{
  width: 40%;
  margin: 1%;
  margin-left: 15%;
  padding: 1%;
  font-weight: bold;
}
.container p{
  padding:0;
  margin: 0;
  margin-left: 10%;
  font-weight: bold;
  
}

.container button{
  cursor: pointer;
}
.navbar{
  display: flex;
  background-color: aquamarine;
  margin:1%;
  padding: 1%;
  width: 42%;
  margin-left: 35%;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.navbar a{
  margin:0 3%;
  padding: 1%;
  /* background-color: aqua; */
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.container2{
  display: flex;
  flex-direction: column;

}
.events2{
  display: flex;
  margin-top: 54%;
  flex-direction: column;
}
